.btn-start{
	float:right;
	margin-top:500px;
	margin-right:200px;
}

.btn-next{
	margin-top:100px;
	margin-left:500px;
}

.btn-home{
	float:right;
	margin-top:70px;
	margin-right:100px;
}

.btn-camera{
	margin-top:400px;
	margin-left:500px;
}

.btn-backdrop{
	margin-top:400px;
}

.btn-share{
	margin-top:400px;
	margin-left:500px;
}

.btn-print{
	margin-top:400px;
}

.btn-again{
	margin-top:400px;
}